
/* Import Google Fonts (via NPM packages) */
@import "@fontsource/poppins";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/700.css";
@import "@fontsource/source-sans-pro"; 
@import "@fontsource/source-sans-pro/600.css"; 
@import "@fontsource/source-sans-pro/400.css"; 
@import "@fontsource/inter";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/600.css";

@import "@fontsource/open-sans";
@import "@fontsource/open-sans/400.css";
@import "@fontsource/open-sans/700.css";
