@tailwind base;
@tailwind components;
@tailwind utilities;




:root {

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'source sans pro', sans-serif;

}

.container {
  max-width: 1123px;
  margin: 0 auto;
}

.swiper-button-next , .swiper-button-prev{
    color: #FD4A36 !important;
     width: 32px !important;
      height: 26px !important;
      z-index: 10 !important;
}
.swiper-button-next , .swiper-button-prev{
    color: #FD4A36 !important;
     width: 32px !important;
      height: 26px !important;
}
.testimonial span.swiper-pagination-bullet {
    background: #C2C2C2 !important;
    opacity: 100 !important;
}
span.swiper-pagination-bullet {
    background: white !important;
    opacity: 100 !important;
}
span.swiper-pagination-bullet:hover {
    background: white !important;
    opacity: 100 !important;
    background: #FD4A36 !important;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #FD4A36 !important;
    width: 32px !important;
    border-radius: 12px !important;
}


@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 95%;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 15px;
  }
}

